<h1>Hey! Merci de confirmer votre e-mail!</h1>

<p class="titre1">
    Merci de confirmer votre e-mail en cliquant sur le lien suivant:<br><br>
    <a href="{{ signedUrl|raw }}">Confirmer votre e-mail</a>.
    Ce lien expire dans {{ expiresAt|date('g') }} heure(s).
</p>

<p>
    Tchin! Santé! Cheers! Salute!
</p>
