{% extends 'base.html.twig' %}

{% block body %}

<h5 class ="mon-style-bold">Conditions de livraison</h5>

<p class ="mon-style-bold">
  1. Vente d'alcool
</p>
<p class ="mon-style">1.1. Les boissons alcoolisées ne peuvent être vendues qu'aux personnes de plus de 18 ans et une preuve peut être exigée par votre livreur partenaire (article L.3342-1 du Code de la santé publique). Votre livreur partenaire pourra refuser de fournir de l'alcool à toute personne qui semble avoir moins de 18 ans ou qui est ou semble sous l'influence de l'alcool ou de médicaments. En passant une commande qui contient de l'alcool, vous confirmez que vous avez au moins 18 ans. Toute violation du présent article engage votre responsabilité personnelle exclusive.
</p>

<p class ="mon-style">1.2. L’abus d’alcool est dangereux pour la santé. Sachez consommer et apprécier avec modération. Par le seul fait de passer commande sur notre « site internet », vous renoncez expressément au bénéfice de l’article 1587 du Code civil qui prévoit que la conclusion de la vente de vin ne devient définitive qu’après dégustation et agrément de l’acheteur.
</p>

<p class ="mon-style">1.3. Si vous êtes identifié comme mineur, votre livreur partenaire reprendra la totalité de la commande et la somme correspondante à cette commande vous sera remboursée, déduite néanmoins d'un forfait de 12€ compensant les frais supportés par le livreur partenaire et dus au non-respect des présentes conditions et à l’annulation de la commande.
</p>

<p class ="mon-style">1.4. Dans le cas où une boisson livrée serait impropre à la consommation (par exemple bouteille bouchonnée), le client est invité à contacter TON APERO dans les meilleurs délais et au plus tard 24 heures à compter de la livraison afin de procéder au remboursement ou l’échange du produit commandé. TON APERO enverra alors un livreur partenaire récupérer la boisson et vérifiera avec le vendeur que la boisson est bien impropre à la consommation. TON APERO se réserve le droit de refuser tout échange ou remboursement en cas de boisson consommée de plus d’un quart de son contenu et/ou qui ne serait pas retournée dans son contenant d’origine avec bouchon d’origine. En cas de confirmation par le vendeur que la boisson est bien impropre à la consommation, TON APERO procédera à son échange ou remboursement, sans frais pour le client.
</p>
<br>

<p class ="mon-style-bold">
  2. Vente de snacks
</p>
<p class ="mon-style">
La préparations des snacks se fait dans le respect des gestes barrières. Les livreurs n'ont pas accès au contenu de votre commande, qui est scellée par le préparateur avant d'être remise au livreur-coursier. Dans ce sens, toute commande ouverte est considérée comme due.
</p>
<br>

<p class ="mon-style-bold">
  3. Disponibilité et livraison
</p>
<p class ="mon-style">
Notre objectif est de garantir que vous obteniez le meilleur service de livraison possible.
Malheureusement, les choses ne se déroulent pas toujours comme prévu et des aléas comme les conditions de circulation ou les conditions météorologiques peuvent parfois nous empêcher d'atteindre nos objectifs, ou ceux de nos Restaurants Partenaires, à cet égard. Nous faisons tout notre possible pour garantir la livraison de votre Repas dans le délai indiqué dans l'e-mail et sur la page Web.
Le délai de livraison de votre commande est établi en fonction du nombre de commandes et des conditions auxquelles est soumis le Restaurant Partenaire à ce moment.
</p>
<br>

<p class ="mon-style-bold">
  4. Annulation
</p>
<p class ="mon-style">Vous avez le droit d'annuler une commande dans un délai raisonnable et avant que le restaurant partenaire n’ait commencé à préparer la commande ("commande lancée"). Les clients peuvent annuler une commande en prenant contact avec le Restaurant Partenaire. Ton Apéro et le bar partenaire peuvent annuler une commande et vous en informent dans ce cas. Les commandes annulées conformément à cette clause ne vous sont pas facturées. Tout règlement effectué avant l'annulation d'une commande par Ton Apéro ou un bar partenaire est généralement remboursé par le même moyen que celui que vous avez utilisé pour payer votre commande. Chaque commande annulée après être devenue une "commande Lancée" vous est facturée. Ton Apéro seul établit si une commande est ou non une "commande lancée".
Vous ne disposez pas de droit de rétractation, en vertu des dispositions de l’article L121-21-8 alinéa 4 du Code de la consommation, les Repas, objets du contrat étant des denrées périssables.
</p>

{% endblock %}