     {# templates/bundles/TwigBundle/Exception/error401.html.twig #}
   {% extends 'base.html.twig' %}

body>
  <div class="container">

<div class="row mx-2">
<img src="{{asset('/image/photo401.png')}}" class="error" alt="pageerreur"></a>
    </div>
    </div>
  {% endblock %}

