 {# templates/bundles/TwigBundle/Exception/error404.html.twig #}
 {% extends 'base.html.twig' %}

{% block body %}

<body>
  <div class="container">

<div class="row mx-2">
><img src="{{asset('/image/photo404.png')}}" class="error" alt="pageerreur"></a>
    </div>
    </div>
  {% endblock %}
